<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CipherX">

        <activity
            android:name=".ViginereCipher"
            android:exported="false"/>

        <activity
            android:name=".ViginereCipherDecripit"
            android:exported="false" />

        <activity
            android:name=".activity_caesarcipher1"
            android:exported="false" />
        <activity
            android:name=".activity_caesarcipher2"
            android:exported="false" />
        <activity
            android:name=".activity_tripledes"
            android:exported="false" />
        <activity android:name=".EncryptionActivity">

            <!-- Add any additional configurations for EncryptionActivity if needed -->
        </activity>
        <activity android:name=".DecryptionActivity">

            <!-- Add any additional configurations for EncryptionActivity if needed -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RailFenseEncrypt"
            android:exported="false" />
        <activity
            android:name=".RailFenseDecrypt"
            android:exported="false" />
        <activity
            android:name=".RowColumnDecrypt"
            android:exported="false" />
        <activity
            android:name=".RowColumnEncrypt"
            android:exported="false" />
    </application>

</manifest>